
body {
  background-color: #D3E0EA;
  text-align: center;
}

img {
  width: 280px;
  height: 300px;
  margin-top: 5%;
  border-radius: 4%;
}

.box {
  width: 320px;
  height: 480px;
  background-color: white;
  border-radius: 4%;
  border-color: white;
  margin: 250px auto;
}

.h {
  font-family: sans-serif;
  margin: auto;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  font-size: 22px;
}

.p {
  font-family: 'Montserrat', sans-serif;
  padding: 0 30px;
  font-size: 15px;
  font-weight: normal;
  color: grey;
}
